@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap%27');
*{
    padding:0;
    margin:0;
    box-sizing:border-box ;
    font-family: "Poppins", sans-serif;
    }
    /*navbar*/
    nav{
        position: sticky;
        display: flex;
        background-color: #ffffff;
        align-items: center;
        justify-content: space-between;
        padding-top: 3px;
        padding-left: 7%;
        padding-right: 7%;
        padding-bottom: 5px;
        border-bottom: 0.1px solid rgb(202, 196, 196);
    }
    .logo{
        color:#000000;
        font-size: 36px;
    }
    span{
        color:rgb(205, 172, 150);
    }
    nav ul li{
        list-style-type: none;
        display: inline-block;
        padding:10px 20px;
    }
    nav ul li a{
        color: #000000;
        text-decoration: none;
        font-weight: bold;
    }
    nav ul li a:hover{
        color:rgb(205, 172, 150);
        transition: .3s; 
    }
    nav button{
        border: none;
        padding: 6px 20px;
        border-radius: 0;
        color: #ffffff;
        background: black;
        font-weight: bold;
        font-size: 15px;
    }
    nav button:hover{
        cursor: pointer;
        border: 2px solid rgb(189, 189, 189);
        color: rgb(189, 189, 189);
    }
    button a{
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;

    }
    .tekst2 a{
        color: #000000;
        text-decoration: none;
        font-weight: bold;

    }
    /*fotoja1*/
    .forest {
        width: 100%;
        height: 700px;
        background-color: rgb(255, 255, 255);
    }
    .forest img{
        width: 500px;
        height: 700px;
    }
    /*teksti*/
    .tekst h1 {
        position: absolute;
        top: 24%;
        right: 390px;
        font-size: 36px;
        font-weight: lighter;
        color: rgb(0, 0, 0);
        font-family: 'Times New Roman', Times, serif;
    }
    .tekst p{
        position: absolute;
        top: 50%;
        right: 130px;
        font-size: 15px;
        font-weight: lighter;
        color: rgb(101, 101, 101);
    }
    /*mesi*/
    .figurat{
        width: 100%;
        height: 350px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        background-color:   rgb(242, 242, 242);
    }
    .figurat img{
        width: 100px;
        height: 100px;
    }
    .figurat p{
        padding-top: 60px;
        font-size: 25px;
        font-weight: 100;
        text-decoration: none;
        color: #414141;
    }
    /*skincare*/

    .skincare{
        position: relative;
        width: 40%;
        height:520px;
        margin-left: 700px;
        margin-bottom: 15%;
        background-color: #201e1e;
        
    }
    .skincare img{
        display: block;
        width:  100%;
        height: 100%;
        position: relative;
    }
    /*teksti2*/
    .tekst2 {
        position: absolute;
        width: 100%;
        height: 700px;
        padding-left: 50px;
        margin-top: 150px;
        margin-bottom: 150px;
      }
    .tekst2 h1 {
        right: 380px;
        font-size: 40px;
        font-weight: lighter;
        color: #000000;
        padding-bottom: 30px;
        font-family: 'Times New Roman', Times, serif;
    }
    .tekst2 h2{
        right: 380px;
        font-size: 30px;
        font-weight: lighter;
        color: #000000;
        padding-bottom: 30px;
        font-family: 'Times New Roman', Times, serif;
    }

    .tekst2 p{
        text-align: left;
        right: 130px;
        font-size: 15px;
        font-weight: lighter;
        color: rgb(101, 101, 101);
    }
    .tekst2 button{
        border: 3px solid black;
        background:none ;
        position: absolute;
        top: 390px;
        left: 40px;
        padding: 8px 26px;
        border-radius: 0;
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: 15px;
        transition: .2s;
    }
    .tekst2 button:hover{
        transform: scale(1.1);
        cursor: pointer;
        background-color: #ffffff;
        color:  #000000;
        border-color: #000000;
    }
    /*teksti3*/
    .tekst3{
        width: 60%;
        height: 500px;
        background: rgb(235, 226, 212);
        margin-left: 400px;
        margin-top: 30px;
    }
    .tekst3 h1 {
        padding-left: 300px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 40px;
        font-weight: lighter;
    }
    .tekst3 p {
        padding-left: 300px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
    }





   /*image2*/
   .image{
    position: relative;
    width: 70%;
    height:650px;
    margin-top: -380px;
    margin-left: 40px;
}
.image__img{
    display: block;
    width:  70%;
    height: 650px;
    position: relative;
}
.description{
    color: #7e7e7e;
}
.image__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: rgba(51, 51, 51, 0.6);
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    opacity: 0;
    transition: opacity 0.25s;
}
.image__overlay--blur{
    backdrop-filter: blur(5px);
}
.image__overlay > *{
    transform: translateY(20px);
    transition: transform 0.25s;
}
.image__overlay:hover{
    opacity: 1;
}
.image__overlay:hover > *{
    transform: translateY(0);
}
.image__title{
    font-size: 2em;
    font-weight: bold;
}
.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}
.image button {
    border: none;
    padding: 6px 15px;
    border-radius: 0;
    color: #ffffff;
    background: none;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid rgb(255, 255, 255);
}
.image button:hover{
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    color: #ffffff;
}


  














/*contact*/
.contact {
    display: flex;
    width: 100%;
    height: 160px;
    background-color: rgb(247, 247, 247);
    text-align: center;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
 }
.contact1 h1{
    font-size: 28px;
    font-family:'Times New Roman', Times, serif;
    
   }
 .hotline h1{
    font-size: 28px;
    font-family:'Times New Roman', Times, serif;
   
 }
 .nr1{
  
     font-family:'Times New Roman', Times, serif;
     font-weight: lighter;
 }
 .nr2{
  
     font-family:'Times New Roman', Times, serif;
     font-weight: lighter;
 }

    /* Footer*/
    .container{
        width: 100%;
        margin:auto;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-left: 115px;
    }
    ul{
        list-style: none;
    }
    .footer{
        position: relative;
        background-color: #ffffff;
        padding-bottom:30px;
        padding-top: 70px;
        border-top: 0.1px solid rgb(202, 196, 196);
    }
    .footer-col{
        width: 25%;
        padding: 0 15px;
    }
    .footer-col h4{
        font-size: 18px;
        color: #000000;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }
    .footer-col h4::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: rgb(214, 131, 75);
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    .footer-col ul li:not(:last-child){
        margin-bottom: 10px;
    }
    .footer-col ul li a{
        font-size: 16px;
        color: #000000;
        text-decoration: none;
        font-weight: 300;
        color: #000000;
        display: block;
        transition: all 0.3s ease;
    }
    .footer-col ul li a:hover{
        color: #000000;
        padding-left: 8px;
    }
    .footer-col .social-links a{
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255,255,255,0.2);
        margin:0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color:black;
        transition: all 0.5s ease;
    }
      .footer-col .social-links a:hover{
        color:  rgb(214, 131, 75);
    }



