@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap%27');
*{
    padding:0;
    margin:0;
    box-sizing:border-box ;
    font-family: "Poppins", sans-serif;
    }
    /*navbar*/
    nav{
        position: sticky;
        display: flex;
        background-color: #ffffff;
        align-items: center;
        justify-content: space-between;
        padding-top: 3px;
        padding-left: 7%;
        padding-right: 7%;
        padding-bottom: 5px;
        border-bottom: 0.1px solid rgb(202, 196, 196);
    }
    .logo{
        color:#000000;
        font-size: 36px;
    }
    span{
        color:rgb(205, 172, 150);
    }
    nav ul li{
        list-style-type: none;
        display: inline-block;
        padding:10px 20px;
    }
    nav ul li a{
        color: #000000;
        text-decoration: none;
        font-weight: bold;
    }
    nav ul li a:hover{
        color:rgb(205, 172, 150);
        transition: .3s; 
    }
    nav button{
        border: none;
        padding: 6px 20px;
        border-radius: 0;
        color: #ffffff;
        background: black;
        font-weight: bold;
        font-size: 15px;
    }
    nav button:hover{
        cursor: pointer;
        border: 2px solid rgb(189, 189, 189);
        color: rgb(189, 189, 189);
    }
    button a{
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;

    }
    /*image*/
    .foto1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .foto1 img {
        width: 100%;
        height: 555px;
    }
    .top-right h1 {
        position: absolute;
        top: 35%;
        right: 309px;
        font-size: 30px;
        font-weight: lighter;
    }
    .top-right p{
        position: absolute;
        top: 47%;
        right: 20px;
        font-size: small;
        font-weight:lighter;
    }
    /*read more*/
    .foto1 button{
        border: 3px solid black;
        background:none ;
        position: absolute;
        top: 65%;
        right: 80px;
        padding: 8px 26px;
        border-radius: 0;
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: 15px;
        transition: .2s;
    }
    .foto1 button:hover{
        transform: scale(1.1);
        cursor: pointer;
        background-color: #e3e3e3;
        color:  #000000;
        border-color: #000000;
    }
    /*quotes*/
    .quote1{
        margin-top: 30px;
        color: #000000;
        text-align: center;
        font-size:15px;
        margin-bottom: 20px;
    }
    .quote1 h1{
        font-size: 40px;
    }
    .quote1 b{
        font-size: 30px;
    }
    .true {
        height: 45px;
    }
    .quote1 p{
        color: #373a40;
    }
    .quote1 hr{
        align-items:center;
        width:70%;
        margin: auto;
    }
    .high h1{
        margin-top: 20px;
        text-align: center;
        color: #000000;
        font-size:25px;
        margin-bottom: 15px;
    }
    /*produktet*/
    .produktet{
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
    .produktet img{
        width: 260px;
        height: 250px;
    }
    .produktet a{
        font-size: small;
        font-weight: 100;
        text-decoration: none;
        color: #000000;
    }
    .product1:hover{
        transform: scale(1.1);
        cursor: pointer;
        transition: .5s;
    }
    .product2:hover{
        transform: scale(1.1);
        cursor: pointer;
        transition: .5s;
    }
    .product3:hover{
        transform: scale(1.1);
        cursor: pointer;
        transition: .5s;
    }
    .produktet button{
        background:black ;
        padding: 8px 28px;
        border-radius: 30cm;
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: 12px;
    }
    .produktet button:hover{
        cursor: pointer;
        color: rgb(255, 255, 255);
        border: 2px solid black;
    }
    /*slideshow*/
    .slideshow {
            width: 100%;
            height: 400px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
        }
    .slideshow img{
            width: 80%;
            height: 340px;
    }
    

/*contact*/

    .contact {
       display: flex;
       width: 100%;
       height: 160px;
       background-color: rgb(247, 247, 247);
       text-align: center;
       align-items: center;
       justify-content: space-around;
       border: 1px solid black;
    }
    .contact1 h1{
       font-size: 28px;
       font-family:'Times New Roman', Times, serif;
       
      }
    .hotline h1{
       font-size: 28px;
       font-family:'Times New Roman', Times, serif;
      
    }
    .nr1{
     
        font-family:'Times New Roman', Times, serif;
        font-weight: lighter;
    }
    .nr2{
     
        font-family:'Times New Roman', Times, serif;
        font-weight: lighter;
    }

    /* Footer*/
    .container{
        width: 100%;
        margin:auto;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-left: 115px;
    }
    ul{
        list-style: none;
    }
    .footer{
        position: relative;
        background-color: #ffffff;
        padding-bottom:70px;
        padding-top: 70px;
        border-top: 0.1px solid rgb(202, 196, 196);
    }
    .footer-col{
        width: 25%;
        padding: 0 15px;
    }
    .footer-col h4{
        font-size: 18px;
        color: #000000;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }
    .footer-col h4::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: rgb(214, 131, 75);
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    .footer-col ul li:not(:last-child){
        margin-bottom: 10px;
    }
    .footer-col ul li a{
        font-size: 16px;
        color: #000000;
        text-decoration: none;
        font-weight: 300;
        color: #000000;
        display: block;
        transition: all 0.3s ease;
    }
    .footer-col ul li a:hover{
        color: #000000;
        padding-left: 8px;
    }
    .footer-col .social-links a{
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255,255,255,0.2);
        margin:0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color:black;
        transition: all 0.5s ease;
    }
      .footer-col .social-links a:hover{
        color:  rgb(214, 131, 75);
    }


    @media only screen and (max-width: 767px) {
        nav {
          flex-direction: column;
        }
        nav ul {
          flex-direction: column;
        }
      }